div.data-table-column-description.activity{
    z-index: 0;
}

div.data-table-column-description.duration{
    z-index: 0;
}

.ant-tabs-ink-bar-animated{
    background-color:#262735;
}

.ant-checkbox.ant-checkbox.ant-checkbox-checked{
    background: #54B6D1;
}